.skills{
    margin-top: 150px;
}
.skill__items{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.skill__item{
    width: 23%;
    box-shadow: 0 70px 70px rgba(0, 0, 255, .1);
    overflow: hidden;
    position: relative;

    &:hover .skill__item-percent{
        animation: showPercent 3s ease;
    }
}
.skill__item-waves{
    width: 100%;
    height: 150px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    position: relative;

    &::before,
    &::after{
        content: "";
        width: 150%;
        height: 300%;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        left: -30%;
        z-index: 1;
    }

    &::before{
        border-radius: 48%;
        animation: waves 5s ease infinite;
    }

    &::after{
        border-radius: 46%;
        animation: waves 4s ease infinite;
    }
}
.yellow{
    background-color: #FDB157;

    &::before,
    &::after{
        top: -270%;
    }
}
.pink{
    background-color: #9473E6;

    &::before,
    &::after{
        top: -240%;
    }
}
.blue{
    background-color: #BDECF6;

    &::before,
    &::after{
        top: -255%;
    }
}
.skill__item-percent{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: -20%;
    z-index: 4;
}
.skill__item-name{
    margin-top: 20px;
    color: #000;
    font-size: 22px;
}

@keyframes waves{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes showPercent{
    0%{
        left: -10%;
    }
    30%{
        left: 45%;
    }
    40%{
        left: 45%;
    }
    70%{
        left: 45%;
    }
    100%{
        left: 200%;
    }
}

@media( max-width: 990px ){
    .skills{
        margin-top: 100px;
    }
    .skill__items{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .skill__item{
        width: 34%;
        margin-bottom: 25px;
    }
}
@media( max-width: 545px ){
    .skills{
        margin-top: 50px;
    }
    .skill__items{
        margin-top: 50px;
    }
    .skill__item{
        width: 80%;
    }
}